.jumbotron {
    background-image: url("../img/pizza.png");
    background-repeat: repeat-x;
}
.jumbotron>h1{
    text-align: center;
    background-color: white;opacity:.7;
    color: black;
}
.display-4 {
    text-align: center;
    color: #848487;
}
.box {
    margin: 30px;
    border: 1px solid black;
    opacity: 0.6;
}
